<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>깜깜맵 서버</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="/">
                <div id="img_logo">
                    <p id="p_GGMap">깜깜맵</p>
                    <img src="../public/images/ggm18.png" alt="">
                </div>
                <% if(loggedIn) { %>
                    <div class="my">
                        <p class="p_my">
                            <%= currentUser.nickname %>님 안녕하세요!
                        </p>
                        <div id="btn_my">
                            <a href="/users/logout" id="btn_logout">로그아웃</a>
                        </div>
                    </div>
                <%} else { %>
                    <div id="btn_sign">
                        <a href="/users/login" id="btn_signin">로그인</a>
                        <a href="/users/signup" id="btn_signup">회원가입</a>
                    </div>
                <% } %>
            </a>
        </div>
        <div class="container">
            <div>
                <p>해당 페이지를 찾을 수 없습니다.</p>
                <a href="/" id="btn_signup">돌아가기</a>
                <br><br>
                <img id="img_cute1" src="/public/images/cry.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>