<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>๊น๊น๋งต ์๋ฒ</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="/">
                <div id="img_logo">
                    <p id="p_GGMap">๊น๊น๋งต</p>
                    <img src="../public/images/ggm18.png" alt="">
                </div>
                <div id="btn_sign">
                    <a href="/users/login" id="btn_signin">๋ก๊ทธ์ธ</a>
                    <a href="/users/signup" id="btn_signup">ํ์๊ฐ์</a>
                </div>
            </a>
        </div>
        <div class="container">
            <div>
                <p>์ฑ๊ณต์์ผ๋ก ๋ก๊ทธ์์๋์์ต๋๋ค. ๐ฅบ</p>
                <a href="/" id="btn_signup">๋์๊ฐ๊ธฐ</a>
            </div>
        </div>
    </div>
</body>
</html>